</br>
<h1>Thought-Provoking Thoughts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comments.each do |comment| %>
  <tr id='<%= dom_id(comment) %>'>
    <td><%= comment.title %></td>
    <td><%= comment.body %></td>
    <td><%= link_to 'Read', comment, :class => 'icon-eye-open btn btn-success' %></td>
    <% if policy(comment).update? %>
    <td><%= link_to 'Edit', edit_comment_path(comment), :class => 'icon-edit btn btn-warning' %></td>
    <% end %>
    <% if comment.published? == false && policy(comment).publish? %>
      <td><%= link_to 'Publish', comment_path(comment, {comment: {published: true}}), :class => 'icon-print btn btn-default', method: :put, data: { confirm: 'Are you sure you want to publish?' }%></td>
    <% end %>
    <% if comment.published? == true && policy(comment).publish? %>
      <td><%= link_to 'Unpublish', comment_path(comment, {comment: {published: true}}), :class => 'icon-print btn btn-default', method: :put, data: { confirm: 'Are you sure you want to unpublish?' }%></td>
    <% end %>
    <% if policy(comment).destroy? %>
    <td><%= link_to 'Delete', comment, :class => 'icon-eraser btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>


<br />

<%= link_to 'New Post', new_comment_path, :class => 'btn btn-primary' %>
