</br>
<p>
  <b>Title:</b>
  <%= @comment.title %>
</p>

<p>
  <b>Body:</b>
  <%= @comment.body %>
</p>

<p id="author">
  <b>By:</b>
  <%= @comment.author.email %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment), :class => 'btn btn-warning' %>
<%= link_to 'Back', comments_path, :class => 'btn btn-success' %>
