</br>
<p>
  <b>Project:</b>
  <%= @project.name %>
</p>

<p>
  <b>Technologies used:</b>
  <%= @project.technologies_used %>
</p>

<p>
<%= image_tag @project.image_url(:thumb).to_s %>
</p>

<div class="move-up">
  <div class="well col-lg-6">
    <%= render 'remarks/form' %>
    <%= link_to 'Edit', edit_project_path(@project), :class => 'icon-edit btn btn-warning' %>
    <%= link_to 'Back', projects_path, :class => 'btn btn-success' %>
  </br>
  <%= render 'remarks/show' %>
</div>
</div>

