<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <%= link_to 'Thanh Huynh', root_path, :class => "navbar-brand"%>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <a href="#">About</a>
            </li>
            <li class="<%= 'active' if current_page?(projects_path) %>">
              <%= link_to "Portfolio", projects_path %>
            </li>
            <li>
              <a href="#">Resume</a>
            </li>
            <li class="<%= 'active' if current_page?(comments_path) %>">
              <%= link_to "Blog", comments_path %>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="https://github.com/thanhjamin" class="icon-github" target="_blank"></a>
            </li>
            <li>
              <a href="https://twitter.com/TDHuynh90" class="icon-twitter" target="_blank"></a>
            </li>
            <li>
              <a href="https://linkedin.com/in/huynhthanh" class="icon-linkedin" target="_blank"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
